.navbar {
  width: 100vw;
  height: 100px;
  font-weight: bold;
  background-color: black;
}

.colapse {
  background-color: black;
}

.logo {
  width: 70px;
  height: 70px;
}

.navbar-icon {
  color: gainsboro;
  margin-right: 5px;
}