.itemCount {
    display: flex;
    align-items: center;
    width: 50%;
}

.buttons {
    display: flex;
    justify-content: flex-start;  
    align-items: center;
    text-align: center;
}

.itemCount .agregar {
    background-color:green;
    color: whitesmoke;
    transition: all 300ms ease-in-out;
}

.itemCount .agregar:hover {
    background-color:darkgreen;
    color: whitesmoke;
}

.itemCount .reset {
    background-color:firebrick;
    color: whitesmoke;
    transition: all 300ms ease-in-out;
}

.itemCount .reset:hover {
    background-color:maroon;
    color: whitesmoke;
}

@media screen and (max-width: 575px) {
    .itemCount {
        width: 100%;
    }

    .buttons {
        justify-content: center; 
        margin: auto; 
    }

    .itemCount .agregar {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }